#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#header {
    position: relative;
}

a#logo {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#user_login {
    text-align: right;
    position: absolute;
    right: 0;
    top: 5px;
}

#footer {
    text-align: center;
    background-color: rgb(108, 108, 255);
    color: white;
}

ul.main-menu {
    background-color: rgb(108, 108, 255);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}

ul.main-menu li {
    text-align: center;
}

ul.main-menu li a {
    color: white;
    padding: 10px 15px;
}

#main {
    min-height: 500px;
}

#footer {
    padding: 10px 0;
}

#footer p {
    margin: 0;
}



