RewriteEngine On

RewriteRule blog\/[a-z\-\d]+\-(\d+).html ?mod=blog&controller=detail&id=$1
RewriteRule blog\/page-(\d+) \?mod=blog&num_posts=4&page=$1
RewriteRule blog.html ?mod=blog&controller=index