header {
    --main-color: #2c2c32;
    background-color: var(--main-color);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px; /* tránh cho nav lấp content */
}

/* ==== WRAPPER LOGO ====  */

#wp-logo {
    justify-content: space-between;
    align-items: center;
}

#wp-logo #logo a.logo-img {
    display: block;
    width: 24px;
    height: 24px;
}

#wp-logo #logo a.logo-label {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#wp-logo button#bar-button-toggle  {
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 10%;
    border: none;
    outline: none;
    display: block;
}

#wp-logo button#bar-button-toggle:hover {
    background-color: #0072be;

}

#wp-logo button#bar-button-toggle i {
    font-size: 20px;
    color: white;
}

/* ==== NAV BAR MOBILE ====  */
nav {
    background-color: var(--main-color);
}

nav li {
    position: relative;
}

nav#pc, #search-download {
    display: none;
}

nav#mobile {
    position: fixed;
    left: 0;
    right: 0;
}

nav ul.menu-header > li {
    border-bottom: 1px solid rgb(29, 29, 29);
}
nav ul.menu-header > li a {
    color: white;
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}

nav ul.menu-header > li:hover {
    background-color: #0f0f0f;
}

/* ==== Sub Menu ====  */
ul li:has(i.fa-chevron-down) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul.sub-menu {
    padding-left: 20px;
    background-color: #434343;
    flex-basis: 100%;
    display: none;
}

ul.sub-menu li:hover a{
    text-decoration: underline;
}

ul li i.fa-chevron-down {
    color: white;
    padding: 5px 25px;
    cursor: pointer;
    transition: all 0.3s;
}

ul li i.fa-chevron-down.active {
    transform: rotate(180deg);
}

